html
    head
        title Available Services
        link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'
        integrity='sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u' crossorigin='anonymous')
    body
        if services.length > 0
            div(style='padding-left: 10%; padding-right: 10%;')
                h1 Here are all the available services
                p Each item in this list represents an exposed port of a service in your composition.
                p Although the service ports were exposed with random ports, Codefresh has made them available via a predictable URL pattern.
                p The title and the body of each list item is the name and the value (respectively) of the environment variable that was injected to every service
                p To learn more about the features please see the <a href='https://docs.codefresh.io/docs/composition-service-discovery'>documentation</a> page.
                div(class='alert alert-success')
                    <b>Please Note:</b> This feature is available for users with a Pro subscription. Already a Pro subscriber? Contact us to opt in to this feature.
                div(class='panel-grep')
                    each val in services
                        div(class='panel panel-primary')
                            div(class='panel-heading')= val.name
                            div(class='panel-body')
                                a(href= val.url)= val.url
        else
            h1 There are no available services :(